
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Profil/Views/Shared/_Layout.cshtml";
}


            
    <button type="button" class="btn btn-success" style="margin-bottom:20px;">Mes biens</button>

    <button type="button" class="btn btn-success" style="margin-bottom:20px;">Ajouter un bien</button>

    <button type="button" class="btn btn-success">Mes demandes d'échange</button>

        