
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Profil/Views/Shared/_Layout.cshtml";
}


            
<a href="~/Profil/Home/MesBiens"><button type="button" class="btn btn-success" style="margin-bottom:20px;">Mes biens</button></a>

<a href="~/Profil/Home/AjoutBien"><button type="button" class="btn btn-success" style="margin-bottom:20px;">Ajouter un bien</button></a>

<a href="~/Profil/Home/DemandesEchange"><button type="button" class="btn btn-success">Mes demandes d'échange</button></a>

